/* ==========================================================================
   Layouts
   ========================================================================== */


.inner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: $size_inner;
  margin: 0 auto;
  @media (max-width: 1100px) {
    max-width: $size_inner_tb;
  }
  @media (max-width: 767px) {
    max-width: $size_inner_sm;
  }
    
}

/* Header
   ========================================================================== */
.header {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  justify-content: flex-end;
  //height: 100vh;
  height: 100%;
  background: url(/img/visual-bg.jpg) no-repeat;
  color: $color_white;
  @media(max-width: 1100px) {
    background-size: cover;
    height: 100%;
  }
  &__content {
    margin-right: 100px;
    margin-bottom: 240px;

  }
}
.nav {
  //position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 45px 0;
  &__logo {
    margin-left: 65px;
  }
  &__menu {
    margin-right: 40px;
  }
}

/* Content
   ========================================================================== */
.super {
  display: flex;
  background: $color_deluge;
  color: $color_white;
  &__content {
    margin-right: 20px;
    flex: 1 1 calc(40% - 20px);
  }
  &__header {
    margin: 100px 0 0 0;
  }
  &__desc {
    font-size: 16px;
    line-height: 1.625;
    margin-bottom: 36px;
  }
  &__image {
    position: absolute;
    top: -79px;
    right: 40px;
    @media(max-width: 1100px) {
    display: none;
  }
  }
  &__media {
    flex: 1 1 60%;
  }
}

.features {
  padding: 6.77% 0 9.49% 0;
  background: $color_squeeze;
  &__box {
    flex: 1 1 calc(33.333% - 44px);
    margin-right: 44px;
    @media(max-width: 1100px) {
    flex-basis: 100%;
  }
  }
  &__header {
    color: $color_charade;
    margin-bottom: 30px;
  }
  &__subheader {
    font-size: 20px;
    color: $color_pale-sky;
    margin-bottom: 30px;
  }
  &__desc {
    color: $color_mako;
    line-height: 28px;
    margin-bottom: 40px;
  }
}

.design {
  position: relative;
  background: $color_charade;
  color: white;
  &:before {
    position: absolute;
    top: -32px;
    left: 50%;
    margin-left: -60px;
    display: block;
    height: 63px;
    width: 120px;
    content: " ";
    background-image: url(../img/element.png);
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  &__header {
    margin-top: 100px;
  }
  &__desc {
    margin-bottom: 90px;
    line-height: 1.875;
    color: $color_grey;
  }
}

.steps {
  padding-bottom: 13%;
  background: $color_charade;
  color: $color_white;
  &__box {
    flex: 1;
    margin-top: 160px;
    margin-right: 32px;
  }
  &__span {
    color: $color_fiord;
  }
  &__desc {
    margin-top: 30px;
    line-height: 1.857;
    color: $color_grey;
  }
}

.conectivity {
  background: url(../img/watch.jpg) top right no-repeat;
  background-size: 52% 100%;
  background-color: $color_mystic;
  @media(max-width: 1100px) {
    background-size: cover;
    position: relative;
    z-index: 1;
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      content: " ";
      background-color: rgba(255, 255, 255, 0.7);
      width: 100%;
      height: 100%;
      z-index: 2;

    }
  }
  &__content {
    position: relative;
    z-index: 3;
    width: 48%;
    padding-right: 11.8%;
  }
  &__header {
    margin-top: 100px;
  }
  &__subheader {
    font-size: 20px;
    font-weight: 300;
    color: $color_pale-sky;
    margin-bottom: 40px;
  }
  &__desc {
    line-height: 28px;
    margin-bottom: 140px;
    color: $color_mako;
  }
}

.pen {
  background: url('../img/pen.jpg') left top no-repeat;
  background-size: cover;
  padding-bottom: 200px;
  &__content {
     width: 48vw;
     padding: 5% 6.5%;
     background: $color_deluge; 
     color: $color_white;
  }
  &__quote {
    font-size: 32px;
    font-style: italic;
    line-height: 44px;
  }
  &__name {
    position: relative;
    padding-left: 80px;
    padding-top: 50px;
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      height: 60px;
      width: 60px;
      content: " ";
      background-image: url(../img/author.png);
      background-size: contain;
    }
  }
}
/* Footer
   ========================================================================== */
.footer {
  background: $color_shark;
  color: $color_squeeze;
  padding: 8.5% 0 12% 0;
  &__desc {
    font-size: 12px;
    line-height: 1.846;
    font-weight: 600;
  }
  &__content {
    flex: 1;
    margin-right: 20px;
  }
  &__links {
    display: flex;
  }
  &__list {
    flex: 1;
    margin-top: 70px;
    a {
      font-size: 13px;
      line-height: 1.846;
      font-weight: 600;
      color: $color_squeeze;
    }
  }
  &__media {
    flex: 1;
    margin-left: 110px;
  }
}