/* ==========================================================================
   Variables: colors, sizes, fonts
   ========================================================================== */

/* Colors
========================================================================== */
$color_default: #606f7e;
$color_mako: #44484F;
$color_pale-sky: #696F7C;
$color_charade: #2B303B;
$color_fiord: #3A4D60;
$color_shark: #1a2124;
$color_white: #fff;
$color_black: #000;
$color_grey: #9DA5B0;
$color_input_border: #ccc;
$color_dark_grey: #121212;
$color_red_alert: #a30000;
$color_orange: #ffaf27;
$color_shamrock: #3DD2AE;
$color_deluge: #835FA8;
$color_squeeze: #f4f8fb;
$color_mystic: #E9EEF1;

/* Sizes
========================================================================== */
$size_inner: 1180px;
$size_inner_tb: 720px;
$size_inner_sm: 480px;

/* Fonts
========================================================================== */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300italic,300);
$font_normal: 'Open Sans', Arial, sans-serif;
